body {
	font-size: 32px;
}

a {
	/*
	border-width: thick;
	border-color: red;
	border-style: dotted;
	*/
	border: thick blue dashed;
	border-bottom: 20px dotted #0f0;
}

p {
	width: 300px;
	height: 300px;

	border: 10px solid black;
	border-radius: 150px 100px 50px 0px;
	border-left: 15px dotted green;

	background-color: red;
}